body {
  background-color: #ebeff1;
  color: #506574;
}

main {
  min-height: 80vh;
}

table td,
table th {
  text-align: center;
}

a {
  color: #506574;
}

a:hover {
  color: #33414b;
}

.dropdown-item:focus,
.dropdown-item.active {
  background-color: #506574
}

.card-text {
  color: #506574;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.review {
  margin-top: 30px;
}

.review h2,
.review h3 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.review section {
  max-height: 30rem;
  overflow-y: scroll;
  background-color: #fff
}

.table,
.list-group-item {
  color:#506574;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: #506574;
  opacity: .4;
}

.carousel-right img {
   right: 0;
   top: 1rem;
  
}


.nav-header {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 100;
  background-color: #506574;
  background: linear-gradient(to right, #8ca6b3, #2e4453);
  font-size: 1.3rem;
}

.brand-text {
  font-size: 1.3rem;
}

.pagination {
  --bs-pagination-padding-x: 1.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: #506574;
  --bs-pagination-border-color: #bfc3c7;
  --bs-pagination-hover-color: #506574;
  --bs-pagination-hover-bg: #bfc3c7;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem #3c4c5d40;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #506574;
  --bs-pagination-active-border-color: #506574;
}

.btn {
  background-color: #506574;
  border: none;
  padding: 0.6rem 0.8rem;
  --bs-btn-active-bg: #6a8294;
  --bs-btn-hover-bg: #6a8294;
}

.btn:disabled {
  background-color: #6a8294;
}

.badge {
  background-color: #3b4953 !important;
}

::-webkit-scrollbar {
  width:10px;
}
::-webkit-scrollbar-track {
  background: #dfe2e6;
}
::-webkit-scrollbar-thumb {
  background: #aeb7be;
}

@media screen and (max-width: 700px) {
  .carousel-right div {
    font-size: 1.5rem;
  }
  .carousel-right img {
    top: 3rem;
 }
}


@media screen and (max-width: 500px) {
  .carousel-right div {
    font-size: 1.1rem;
  }
}